<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body id="askDetail">
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <section class="banner-jumbo">
        <img src="<%-skintips.banner%>" class="lazy img-fluid bg-detail"
            alt="background">
        <img src="<%-skintips.banner_m%>" class="lazy img-fluid bg-detail-mobile"
            alt="background">
        <div class="container-fluid">
            <div class="box-detail">
                <div class="title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600">
                    <h1>Ask Senka | <%-skintips.skin_type.name%>, <%-skintips.skin_problem.name%></h1>
                </div>
                <div class="desc-box" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600"
                    data-aos-delay="400">
                    <div class="subtitle"><%-skintips.title%></div>
                    <p class="text">
                        <%-skintips.description%>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-one">
        <div class="container">
            <div class="title-section" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                data-aos-delay="500">
                <h2>We Recommend You To</h2>
            </div>
            <div class="row">
                <% if (skintips.skin_tips_suggest && skintips.skin_tips_suggest.length > 0) { %>
                    <% skintips.skin_tips_suggest.forEach((sug, sugIndex) => { %>
                        <div class="col-6 col-md-3">
                            <div class="box-step" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                                data-aos-delay="700">
                                <div class="step-title">Step <%-sugIndex+1%></div>
                                <div class="box-img">
                                    <img class="img-fluid icon-step" src="<%-sug.image%>" alt="icon">
                                </div>
                                <div class="box-desc">
                                    <p class="text">
                                        <%-sug.suggestion%>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </section>

    <section class="section-two">
        <img class="img-fluid bg-gif" src="/assets/images/ask-senka/bg-ask-detail.gif" alt="background">
        <div class="container">
            <div class="title-section" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                data-aos-delay="500">
                <h2>Get Your Perfectly Renewed Skin</h2>
            </div>
            <div class="row">
                <% if (skintips.skin_tips_product && skintips.skin_tips_product.length > 0) { %>
                    <% skintips.skin_tips_product.forEach((prod, prodIndex) => { %>
                        <div class="col-12 col-md-4">
                            <div class="box-product" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                                data-aos-delay="600">
                                <div class="product-title"><%-prod.product.name%></div>
                                <div class="box-flex">
                                    <div class="box-img">
                                        <img class="img-fluid icon-step" src="<%-prod.product.thumbnail%>" alt="product">
                                    </div>
                                    <div class="product-title"><%-prod.product.name%></div>
                                    <% if (prod.product.product_review && prod.product.product_review.length > 0) { %>
                                    <div class="swiper swiper-pd-detail">
                                        <div class="swiper-wrapper">
                                            <% var filteredReview = prod.product.product_review.filter(pr => pr.label === 'senkatips') %>
                                            <% filteredReview.forEach(rev => { %>
                                                <div class="swiper-slide">
                                                    <div class="box-item">
                                                        <div class="box-desc">
                                                            <p class="text">
                                                                “<%-rev.review%>”
                                                            </p>
                                                        </div>
                                                        <div class="box-avatar">
                                                            <div class="img-box">
                                                                <img class="img-fluid"
                                                                    src="<%-rev.photo%>" alt="avatar">
                                                            </div>
                                                            <div class="box-text">
                                                                <p class="name">
                                                                    <%-rev.name%>
                                                                </p>
                                                                <p class="date-time">
                                                                    <%-rev.age%> | <%-rev.city%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% }) %>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="box-button">
                                    <button type="button" class="btn btn-blue mx-2" data-bs-toggle="modal"
                                        data-bs-target="#modalStore-<%-prod.product.id%>">
                                        Buy Now
                                    </button>
                                    <a href="/product/<%-prod.product.permalink%>" target="_self" rel="noopener noreferrer"
                                        class="btn btn-white mx-2">
                                        Learn More
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
        <!-- Modal -->
        <% if (skintips.skin_tips_product && skintips.skin_tips_product.length > 0) { %>
            <% skintips.skin_tips_product.forEach((prod, prodIndex) => { %>
        <div class="modal fade" id="modalStore-<%-prod.product.id%>" tabindex="-1" aria-labelledby="modalStore" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Senka Official Store
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="box-list">
                            <div class="row">
                                <% if (prod.product.product_store && prod.product.product_store.length > 0) { %>
                                    <% prod.product.product_store.forEach(ps => { %>
                                        <% if(ps.location == 'Shopee') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="<%-ps.url %>" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-shopee.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(ps.location == 'Tokopedia') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="<%-ps.url %>" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-tokopedia.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(ps.location == 'Sociolla') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="<%-ps.url %>" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-sociolla.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(ps.location == 'Watson') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="#" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-watsons.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(ps.location == 'Alfacart') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="<%-ps.url %>" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-alfacart.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(ps.location == 'Indomaret') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="<%-ps.url %>" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-indomart.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(ps.location == 'Tiktok') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="<%-ps.url %>" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-tiktok.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(ps.location == 'Blibli') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="<%-ps.url %>" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-blibli.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(ps.location == 'Lazada') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="<%-ps.url %>" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-lazada.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% if(ps.location == 'JDID') { %>
                                        <div class="col-6 col-md-12">
                                            <a href="<%-ps.url %>" target="_blank" rel="noopener noreferrer" class="link-store">
                                                <div class="list-item">
                                                    <img src="/assets/images/official-store/os-jdid.png"
                                                        class="lazy img-fluid img-store" alt="store">
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>
                                        <% }) %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <% }) %>
        <% } %>
    </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/script'); %>
</body>

</html>