<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body id="askSenka">
    <header>
        <%- include('../partials/nav'); %>
    </header>

    <section class="banner-jumbo">
        <img src="<%-banner.banner_desk%>" class="lazy img-fluid bg-ask" alt="background">
        <img src="<%-banner.banner_mbl%>" class="lazy img-fluid bg-ask-mobile" alt="background">
    </section>

    <section class="section-one">
        <div class="container">
            <div class="box-ask">
                <div class="title-box" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">
                    <h1 class="text">
                        <%-banner.title%>
                    </h1>
                </div>
                <div class="desc-box" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400">
                    <h5 class="text">
                        <%-banner.description%>
                    </h5>
                </div>
                <div class="box-form">
                    <div class="select-box">
                        <div class="col-12 col-md-6 mx-2">
                            <select class="form-select custom-select" name="state"
                                aria-label="Default select example" id="jenisKulit-option">
                                <option value="none" selected>Sebutkan Jenis Kulitmu!</option>
                                <% if(jenisKulit && jenisKulit.length > 0) { %>
                                    <% jenisKulit.forEach(jk => { %>
                                        <option value="<%-jk.id%>"><%-jk.name%></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mx-2">
                            <select class="form-select custom-select" name="state"
                                aria-label="Default select example" id="masalahKulit-option">
                                <option value="none" selected>Sebutkan Masalah Kulitmu!</option>
                                <% if(masalahKulit && masalahKulit.length > 0) { %>
                                    <% masalahKulit.forEach(mk => { %>
                                        <option value="<%-mk.id%>"><%-mk.name%></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="box-button">
                        <button rel="noopener noreferrer" class="btn btn-blue" onclick="askSenkaResult()">
                            Check The Result
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script>
        function askSenkaResult() {
            var jenisKulit = document.getElementById("jenisKulit-option").value;
            var masalahKulit = document.getElementById("masalahKulit-option").value;
            if (jenisKulit === 'none') {
                alert('Silahkan Pilih Jenis Kulitmu!')
                return;
            }
            if (masalahKulit === 'none') {
                alert('Silahkan Pilih Masalah Kulitmu!')
                return;
            }
            window.location.href = `/ask-senka-result?jenis=${jenisKulit}&masalah=${masalahKulit}`;
        }
    </script>
    <%- include('../partials/script'); %>
</body>

</html>