<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body id="homepage">
    <header>
        <%- include('../partials/navigation'); %>
    </header>

    <section class="banner-jumbo">
        <div class="container-fluid">
            <!-- Swiper -->
            <div class="swiper swiper-banner-home">
                <div class="swiper-wrapper">
                    <% if(slider && slider.length > 0) { %>
                        <% slider.forEach(s => { %>
                            <div class="swiper-slide">
                                <a href="<%-s.url%>" target="_blank" rel="noopener noreferrer">
                                    <img class="d-none d-md-flex" src="<%-s.banner_desktop%>"
                                        alt="banner desktop">
                                    <img class="d-flex d-md-none" src="<%-s.banner_mobile%>"
                                        alt="banner mobile">
                                </a>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!-- <div class="box-shadow"></div> -->
            <!-- <img src="/assets/images/home/shadow-banner.png" class="lazy img-fluid shadow" alt="shadow"> -->
        </div>
    </section>

    <section class="section-one">
        <img class="img-fluid bg-section" src="/assets/images/home/bg-home-1.webp" alt="background">
        <div class="container">
            <div class="box-video" data-aos="zoom-in-up" data-aos-easing="ease-in-sine" data-aos-duration="400">
                <div class="youtube-container">
                    <div class="youtube-player" data-id="<%-section2.youtube_url%>"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-two">
        <img class="img-fluid bg-section" src="/assets/images/home/bg-home-2.webp" alt="background">
        <div class="container-fluid">
            <div class="title-section" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300">
                <%-section3.title%>
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" data-aos="fade-up" data-aos-easing="linear"
                data-aos-duration="300" data-aos-delay="100">
                <% if(product && product.length > 0) { %>
                    <% product.forEach((pc, pcIndex) => { %>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link <%-pcIndex === 0 ? 'active' : ''%>" data-bs-toggle="pill" data-bs-target="#<%-pc.id%>" type="button"
                                role="tab" aria-controls="<%-pc.id%>" aria-selected="<%-pcIndex === 0 ? 'true' : 'false'%>">
                                <%-pc.name%>
                            </button>
                        </li>
                    <% }) %>
                <% } %>
            </ul>
            <div class="tab-content" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300"
                data-aos-delay="200">
                <% if(product && product.length > 0) { %>
                    <% product.forEach((pc, pcIndex) => { %>
                        <div class="tab-pane fade <%-pcIndex === 0 ? 'show active' : ''%>" id="<%-pc.id%>" role="tabpanel"
                            aria-labelledby="<%-pc.id%>-tab">
                            <div class="row">
                                <div class="col-12 col-md-6 box-left">
                                    <div class="swiper swiper-<%-pcIndex%>">
                                        <div class="swiper-wrapper">
                                            <% pc.product.forEach((p, pIndex) => { %>
                                                <div class="swiper-slide">
                                                    <img src="<%-p.thumbnail%>"
                                                        class="lazy img-fluid product" alt="product">
                                                </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 box-right">
                                    <div class="swiper-button-next swiper-button-next-<%-pcIndex%>"></div>
                                    <div class="swiper-button-prev swiper-button-prev-<%-pcIndex%>"></div>
                                    <% pc.product.forEach((p, pIndex) => { %>
                                        <div class="item-spw item-product-<%-pcIndex%>">
                                            <div class="box-title"><%-p.name%></div>
                                            <% if(p.product_review.length > 0) { %>
                                                <div class="box-desc">
                                                    “<%-p.product_review[0].review%>”
                                                </div>
                                                <div class="box-icon">
                                                    <% for(var i = 0; i < p.product_review[0].rating; i++) { %>
                                                        <i class="bi bi-star-fill"></i>
                                                    <% } %>
                                                </div>
                                                <div class="box-profile">
                                                    <div class="name-old">
                                                        <span class="fw-bold"><%-p.product_review[0].name%></span>
                                                        <span class="fw-bold">(<%-p.product_review[0].age%>, <%-p.product_review[0].city%>)</span>
                                                    </div>
                                                    <div class="result-senka">
                                                        <%-p.product_review[0].problem%>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <div class="box-button">
                                                <a href="/<%-p.permalink%>" target="_blank" rel="noopener noreferrer"
                                                    class="btn btn-white">
                                                    Learn More
                                                </a>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </section>

    <section class="section-three">
        <img class="img-fluid bg-section" src="/assets/images/home/bg-home-3.webp" alt="background">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 box-left">
                    <div class="box-ask" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600"
                        data-aos-delay="500">
                        <div class="title-box">
                            <h5 class="text">
                                <%-section4.title%>
                            </h5>
                        </div>
                        <div class="desc-box">
                            <p class="text">
                                <%-section4.description%>
                            </p>
                        </div>
                        <div class="select-box">
                            <select class="form-select custom-select" id="jenisKulit-option" name="state" aria-label="Default select example">
                                <option value="none" selected>Sebutkan Jenis Kulitmu!</option>
                                <% if(jenisKulit && jenisKulit.length > 0) { %>
                                    <% jenisKulit.forEach(jk => { %>
                                        <option value="<%-jk.id%>"><%-jk.name%></option>
                                    <% }) %>
                                <% } %>
                            </select>
                            <select class="form-select custom-select" id="masalahKulit-option" name="state" aria-label="Default select example">
                                <option value="none" selected>Sebutkan Masalah Kulitmu!</option>
                                <% if(masalahKulit && masalahKulit.length > 0) { %>
                                    <% masalahKulit.forEach(mk => { %>
                                        <option value="<%-mk.id%>"><%-mk.name%></option>
                                    <% }) %>
                                <% } %>
                            </select>
                        </div>
                        <div class="box-button">
                            <button rel="noopener noreferrer" class="btn btn-blue" onclick="askSenkaResult()">
                                Check The Result
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 box-right">
                    <div class="image-box" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600"
                        data-aos-delay="100">
                        <img src="<%-section4.thumbnail%>" class="lazy img-fluid" alt="ask-senka">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-four">
        <img class="img-fluid bg-section" src="/assets/images/home/bg-home-4.webp" alt="background">
        <div class="container">
            <div class="box-head">
                <div class="title-box" data-aos="fade-in" data-aos-easing="linear" data-aos-duration="400"
                    data-aos-delay="200">
                    <h4 class="text">
                        <%-section5.title%>
                    </h4>
                </div>
                <div class="desc-box" data-aos="fade-in" data-aos-easing="linear" data-aos-duration="400"
                    data-aos-delay="300">
                    <p class="subtitle">
                        <%-section5.description%>
                    </p>
                </div>
            </div>
            <div class="box-category" data-aos="fade-in" data-aos-easing="linear" data-aos-duration="400"
                data-aos-delay="400">
                <div class="title-stories">
                    Newest Article
                </div>
            </div>
            <div class="row mb-5 g-4">
                <% if(article && article.length > 0) { %>
                    <% var delay = 500; %>
                    <% article.forEach(a => { %>
                        <div class="col col-sm-6 col-lg-3 box-card" data-aos="fade-right" data-aos-easing="linear"
                            data-aos-duration="400" data-aos-delay="<%-delay%>">
                            <div class="card h-100 shadow">
                                <img src="<%-a.thumbnail%>" class="card-img-top" alt="thumbnail">
                                <div class="overlay">
                                    <div class="text">
                                        <%-a.description%>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <%-a.title%>
                                    </p>
                                    <div class="box-button">
                                        <a href="/stories/<%-a.permalink%>" target="_blank" rel="noopener noreferrer" class="btn btn-blue">
                                            Read More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% delay += 200; %>
                    <% }) %>
                <% } %>
            </div>
            <div class="box-button" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="400"
                data-aos-delay="200">
                <a href="/stories" target="_blank" rel="noopener noreferrer" class="btn btn-white">
                    Explore More
                </a>
            </div>
        </div>
    </section>

    <section class="section-five">
        <img src="<%-section6.banner_desk%>" class="lazy img-fluid bg-contact" alt="bg-contact">
        <img src="<%-section6.banner_mbl%>" class="lazy img-fluid bg-contact-mobile"
            alt="bg-contact">
        <div class="container-fluid">
            <div class="box-contact">
                <div class="row">
                    <div class="col-12 col-md-5 box-left">
                        <div class="title-box">
                            <h5 class="text"><%-section6.title%></h5>
                        </div>
                        <div class="subtitle-box">
                            <p class="text">
                                <%-section6.desc%>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-7 box-right">
                        <div class="box-form">
                            <form>
                                <div class="box-input">
                                    <input type="email" class="form-control" id="emailContact"
                                        aria-describedby="emailContact" placeholder="Your Email Here">
                                </div>
                                <button class="btn btn-blue" onclick="subscribe()">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var swiperArr = [];
            let productcategory = "<%= product %>".split(',');
            productcategory.forEach((pc, pcIndex) => {
                swiperArr[pcIndex] = new Swiper(".swiper-"+pcIndex, {
                    effect: "coverflow",
                    grabCursor: true,
                    centeredSlides: true,
                    slidesPerView: "auto",
                    // loop: true,
                    initialSlide: 0,
                    slideToClickedSlide: true,
                    coverflowEffect: {
                        rotate: 20,
                        stretch: 0,
                        depth: 350,
                        modifier: 1,
                        slideShadows: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next-"+pcIndex,
                        prevEl: ".swiper-button-prev-"+pcIndex,
                    },
                    on: {
                        init: function () {
                            console.log('Swiper '+pcIndex);
                            console.log('swiper initialized');
                        },
                    },
                    // breakpoints: {
                    //     320: {
                    //         initialSlide: 2,
                    //     },
                    //     1024: {
                    //         slidesPerView: 3,
                    //     },
                    // },
                });

                let index = swiperArr[pcIndex].activeIndex;
                let element = document.getElementsByClassName("item-product-"+pcIndex);

                element[index].classList.add("show");

                swiperArr[pcIndex].on('slideChange', function () {
                    let indexActive = swiperArr[pcIndex].activeIndex;
                    for (let i = 0; i < element.length; i++) {
                        element[i].classList.remove("show");
                    }
                    element[indexActive].classList.add("show");
                });
            })
        })
        const myNav = document.getElementById('navbarHome');
        window.onscroll = function () {
            "use strict";
            if (document.body.scrollTop >= 400 || document.documentElement.scrollTop >= 400) {
                myNav.classList.add("nav-colored");
                myNav.classList.remove("nav-transparent");
            } else {
                myNav.classList.add("nav-transparent");
                myNav.classList.remove("nav-colored");
            }
        };

        function askSenkaResult() {
            var jenisKulit = document.getElementById("jenisKulit-option").value;
            var masalahKulit = document.getElementById("masalahKulit-option").value;
            if (jenisKulit === 'none') {
                alert('Silahkan Pilih Jenis Kulitmu!')
                return;
            }
            if (masalahKulit === 'none') {
                alert('Silahkan Pilih Masalah Kulitmu!')
                return;
            }
            window.location.href = `/ask-senka-result?jenis=${jenisKulit}&masalah=${masalahKulit}`;
        }

        function validateEmail(email) {
            return email.match(
                /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };

        function subscribe() {
            var email = document.getElementById("emailContact").value;
            if (!validateEmail(email)) {
                alert('Silahkan masukkan email yang valid!')
            }
            var data = {
                email: email
            };
            fetch('https://backend.senka.id/api/v1/subscriber/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }, 
                body: JSON.stringify(data)
            }).then(res => {
                console.log("Request complete!");
            });
        }
    </script>
    <%- include('../partials/script'); %>
</body>

</html>